body{ background-color: white;
  font-family: poppins;
  margin: auto;
  overflow-x: hidden;
  padding: 3em;
  
}
h1 { 
  color: #333333;
  font-size: 45px;
  text-align: center;
  margin-left: 1em;
}
.sidenav {
  height: 98%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 6px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

main{
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#menu-bar{
  height: 50px;
  cursor: pointer;
}

header{
  display: flex;
  flex: row;
  align-items: center;
}

h2{
  color: #333333;
  font-size: 30px;
  font-weight: 500;
}

p{
  text-align: justify;
  padding: 0 3em 0 0;
}

#code{ 
  font-family: century gothic;
  font-size: 15px;
  background-color: #d4d4d4;
  padding: 10px;
  border-radius: 4px;
}

.ref-link{
  color: #111;
  font-weight: bold;
}

#scroll-up{
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 10px 20px;
  font-family: poppins;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: #dfdede83;
  box-shadow: 1px 1px 8px rgba(192, 192, 192, 0.445);
}
#scroll-up img{
  height: 15px;
}

@media screen and (max-width: 480px) {

  body{
    padding: 3px;
  }

  h1 { 
    font-size: 20px;
    margin-left: 10px;
  }
  .sidenav {
    background-color: #050505f6; 
  }
  
  #menu-bar{
    height: 30px;
  }
  
  h2{
    font-size: 18px;
    text-decoration: underline;
  }
  p{
    text-align: left;
    padding: 0 1em 0 0;
    line-height: 1.8em;
  }
  
  #scroll-up{
    box-shadow: 1px 1px 8px rgba(192, 192, 192, 0.651);
  }

  
}
#switch{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.mode{
  height: 15px;
  margin: 5px;
}






